.summary-icon {
    bottom: 0 !important;
    color: #f5f5f5;
    list-style-type: none;
    vertical-align: center;
    align-items: center;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
    background-color: #263238;
    margin: 2.5rem;
    border-radius: 25px;
}

.sec-summary-icon {
    font-size: 1em;
    text-align: center;
}

.summary-div {
    align-items: left;
    text-align: left;
}
.map {
    background-color: aliceblue;
    color:black;
    width: 50%;
    height: 500px;
    padding: 15px;
    margin-bottom: 10px;
}

.title-summary-h1,
.complementary-summary-h1 {
    width: 100%;
    overflow: hidden;
    vertical-align:middle;
    text-align: center;
    color: #f5f0e1;
    background-color: #ffc13b;
    padding: 5px;
}

.spinner-text{
  color: #ff6e40;
}

.summary-icons {
    padding: 10px 0 10px 0;
}

.summary-icon-text {
    margin: 0;
    margin-top: 0.6rem;;
}
