.footer {
    background-color: #1e3d59;
    width: 100%;
    position: absolute;
    bottom: 0 !important;
    justify-content: space-between;
    margin-top: 30px;
}

.footer .footer-body {
    text-align: center !important;
    bottom: 0;
    overflow: hidden;
    position: relative;
}

.footer .footer-body .social-icons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.footer .footer-body .social-icons .social-icon {
    padding: 1rem;
    transition: background-color 0.1s ease;
    color: #ff6e40;
}

.footer .footer-body .social-icons .social-icon:hover {
    background-color: #ff6e40;
    color: #1e3d59;
}

@media screen and (max-width: 499px) {
    .social-icons svg {
        height: 30px;
    }
}
